*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
.seccion1{
    height: 100px;
    background-color: #444;
}
.seccion2{
    height: 200px;
    /* imagen de fondo */
    background-image: url("https://www.publicdomainpictures.net/pictures/250000/nahled/clouds-background-005.jpg");
    /* controlar la repetición */
    background-repeat: no-repeat;
    /* controlar posición de la imagen */
    /* center - left - right */
    background-position-x:center;
    /*  */
    background-size: cover;
}
.seccion2__titulo{
    height: 200px;
    background-color: rgba(40, 40, 40, 0.5);
    color: white;
    text-align: center;
}
.seccion3{
height: 500px;
/* Colocando una gradiente */
background-image: -webkit-linear-gradient(top, #dd1122, #ff7700);
}