*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
    background-color: #999;
}
.seccion1{
    /* blur es un desenfoque que admite valores entre 1px y 10px */
    filter: blur(8);
    /* grayscale es un es un filtro para colocar un escala de grises  valores entre 0px y 1px */
    filter:grayscale();
    
}

.seccion1:hoover{
        /* Hoover coloca estilos cuando el mouse sobbre un elemento */
       filter:grayscale(1);
    
       /* brightness aplica brillo a un elemento y acepta valorres entre 0 y 10 */
        /*El valor 1 es el brillo normal de la imagen */
        filter: brightness(0.7);
        
        /* Opacity define la transparencia de un elemento */
        /* 0 es transparente - 1 es nada transparente */
        filter: opacity(0.5);
}

