*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
.card, .card2, .card3, .card4{
    width: 200 px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: #888 0px 0px 10px;
}
.card:hover{
    /* Indica cuanto va a crecer o decrecer */
    transform: scale(0.9,0.9);
    box-shadow: #888 0px 0px 4px;
}
.card2:hover{
    transform: rotate(10deg);
}
/* .card3:hover{
    transform: translate(10px, 20px); */
.card3{
        transform: translate(100%, 100%);
}


