@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.titulo{
    /* Tipo de fuente */
    font-family: Arial, Helvetica, sans-serif;
    /* Tamaño de fuente */
    font-size: 16px;
    /* Valores entre 100 y 900, donde 900 = supernegrita*/
    /*Valores "normal" "bold"*/
    font-weight: 900;
    font-style: italic;
}
.subtitulo{
    /* Une todas las propiedades de fuente */
    /* Orden: style weight size family */
    font: normal 200 24px arial; 
}

.parrafos__p1{
    /* alineación del texto interno de un elemento */
    /* center right justify */
    text-align: center;
}

.parrafos__titulo{
    text-align: center;
    color:white;
    background-color: #444;
    /* Espaciado entre letra y letra */
    letter-spacing: 4px;
    /* Espaciado entre palabra y palabra */
    word-spacing: 15px;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
}


